.btn {
	font-family: $primary-font;
  font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.563rem;
  color: $primary-color;
  display: inline-block;
	border: 1px solid $primary-color;
	background-color: $primary-color;
	border-radius: 1000px;
	padding: 10px 20px;
	text-decoration: none;
}

.primary-btn,
.secondary-btn,
.tertiary-btn,
.quaternary-btn {
  position: relative;
  z-index: 1;

  span, 
  strong, 
  em {
    position: relative;
    z-index: 1;
  }
}

.primary-btn {
    @extend .btn;
    @include btn-animated($primary-color, $primary-bg, $primary-text, $primary-hover-bg, $primary-hover-text);
}

.secondary-btn {
    @extend .btn;
    @include btn-animated($secondary-border, $secondary-bg, $secondary-text, $secondary-hover-bg, $secondary-hover-text);
    
}

.tertiary-btn {
    @extend .btn;
    @include btn-animated($tertiary-border, $tertiary-bg, $tertiary-text, $tertiary-hover-bg, $tertiary-hover-text);
}

.quaternary-btn {
    @extend .btn;
    @include btn-animated($quaternary-border, $quaternary-bg, $quaternary-text, $quaternary-hover-bg, $quaternary-hover-text);
}