// ALL
h1,
h2,
h3,
h4,
p,
img,
figure {
    margin: 0;
    padding: 0;
}

// CARD
.fraction {
    padding: 40px 30px;
    border-radius: 20px 20px 0 0;
    margin-top: -15px;

    @media #{$medium} {
        padding: 60px 100px;
    }

    @media #{$large} {
        padding: 80px 200px;
    }

}

.card {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.card-visual {
    width: 100%;
    border-radius: 20px;
    box-shadow: 4px 4px 18px $shadow-color;
    margin-bottom: 20px;
    transition: transform 0.4s ease-in-out;

}

.card-visual:hover {
    transform: scale(1.03);
}

.card-logo {
    max-width: 40px;
    height: auto;

    @media #{$medium} {
        max-width: 50px;
        height: auto;
    }

    @media #{$large} {
        max-width: 80px;
        height: auto;
    }
}

.card-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-chevron {
    width: 30px;
    text-decoration: none;

    @media #{$medium} {
        width: 40px;
        height: auto;
    }

    @media #{$large} {
        width: 50px;
        height: auto;
    }
}

.chatgpt {
    background-color: $first-project-background;
}

.wise {
    background-color: $second-project-background;
}

.fbaul {
    background-color: $third-project-background;
}