// HOME
p {
    margin: 0;
}

img, figure {
    margin: 0;
}


// CARD

.fraction {
    padding: 77px 30px;
    border-radius: 20px 20px 0px 0px;

    @media #{$medium} {
        padding: 60px 50px;
    }

    @media #{$large} {
        padding: 80px 152px;
    }

}

.card {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.card-visual {
    width: 100%;
    border-radius: 20px;
}

.card-logo {
    max-width: 40px;
    height: auto;

    @media #{$medium, $large} {
        max-width: 80px;
        height: auto;
    }
}

.card-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-chevron {
    width: 30px;
    text-decoration: none;

    @media #{$medium, $large} {
        width: 50px;
        height: auto;
    }
}

.chatgpt {
    background-color: $first-project-background;
}

.wise {
    background-color: $second-project-background;
}

.fbaul {
    background-color: $third-project-background;
}

// PROJECTS


// COMPANY
.bio {
    background-color: $secondary-color;
}
