.chatgpt {
    background-color: $first-project-background;
}

.wise {
    background-color: $second-project-background;
}

.fbaul {
    background-color: $third-project-background;
}

.content {
    width: fit-content;

    @media #{$medium, $large, $xlarge} {
        max-width: 820px;
    }
}

.services-list {
    display: grid;
    gap: 50px;

    @media #{$medium} {
        grid-template-columns: 2fr 2fr;
        grid-column-gap: 80px;
    }


    @media #{$large, $xlarge} {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 80px;
    }
}
