@mixin btn {
	font-family: $primary-font;
  font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.563rem;
  color: $primary-color;
  display: inline-block;
	border: 1px solid $primary-color;
	background-color: $primary-color;
	border-radius: 1000px;
	padding: 10px 20px;
	text-decoration: none;
}

@mixin btn-animated($primary-border, $primary-bg, $primary-text, $primary-hover-bg, $primary-hover-text) {
  position: relative;
  overflow: hidden;
  border: 1px solid $primary-border;
  background-color: $primary-bg;
  color: $primary-text;
  transition: color 0.3s;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: $primary-hover-bg;
    border-radius: inherit;
    z-index: 0;
    transform: translateY(-100%);
    transition: transform 0.4s;
  }

  &:hover::before {
    transform: translateY(0);
  }

  &:hover {
    color: $primary-hover-text;
  }
}


/*@mixin crd {
	border-radius: 20px 20px 0px 0px;
	display: inline-flex;
	padding: 80px 152px 0px 152px;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}*/