@charset "utf-8";

  @import 
      "partials/mediaqueries",
      "partials/mixins",
      "partials/header",
      "partials/footer",
      "partials/variables",
      "partials/buttons",
      "partials/animations",
      "partials/general";



body {
    min-width: 320px;
    margin: 0;
  }

  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }