/*@mixin crd {
	border-radius: 20px 20px 0px 0px;
	display: inline-flex;
	padding: 80px 152px 0px 152px;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}*/
h1 {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-size: 2.563rem;
  line-height: 3.5rem;
  color: #343434;
}
@media (min-width: 768px), (min-width: 1280px), (min-width: 1400px) {
  h1 {
    font-size: 4.438rem;
    line-height: 6.063rem;
  }
}

h2 {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-size: 1.375rem;
  line-height: 1.875rem;
  font-weight: 400;
  text-align: center;
  color: #343434;
}
@media (min-width: 768px), (min-width: 1280px), (min-width: 1400px) {
  h2 {
    font-size: 2.5rem;
    line-height: 3.438rem;
  }
}

p {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  line-height: 1.563rem;
  color: #343434;
}
@media (min-width: 768px) {
  p {
    font-size: 1.375rem;
    line-height: 1.875rem;
  }
}
@media (min-width: 1280px), (min-width: 1400px) {
  p {
    font-size: 2.5rem;
    line-height: 3.438rem;
  }
}

/*** NAVIGATION MENU ***/
.topnav {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid #343434;
}
@media (min-width: 1280px), (min-width: 1400px) {
  .topnav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-height: 53px;
  }
}

.topnav a {
  color: #0022FF;
  background-color: #fff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
@media (min-width: 1280px), (min-width: 1400px) {
  .topnav a {
    padding: 14px 20px;
  }
}

.topnav a:hover {
  background-color: #fff;
  color: #343434;
}

.topnav #myLinks {
  display: none;
  list-style: none;
  padding-left: 20px;
}
@media (min-width: 1280px), (min-width: 1400px) {
  .topnav #myLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style-type: none;
  }
}

a.icon {
  color: #343434;
}

/* hamburger icon */
.topnav a.icon {
  /*background: #fff;*/
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
@media (min-width: 1280px), (min-width: 1400px) {
  .topnav a.icon {
    display: none;
  }
}

@media (min-width: 1280px), (min-width: 1400px) {
  .scroll-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow-x: hidden;
    row-gap: 60px;
  }
}

.logo {
  max-width: 90px;
}

.social-media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  padding: 24px;
  text-decoration: none;
}

h1 {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-size: 2.563rem;
  line-height: 3.5rem;
  color: #343434;
}
@media (min-width: 768px), (min-width: 1280px), (min-width: 1400px) {
  h1 {
    font-size: 4.438rem;
    line-height: 6.063rem;
  }
}

h2 {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-size: 1.375rem;
  line-height: 1.875rem;
  font-weight: 400;
  text-align: center;
  color: #343434;
}
@media (min-width: 768px), (min-width: 1280px), (min-width: 1400px) {
  h2 {
    font-size: 2.5rem;
    line-height: 3.438rem;
  }
}

p {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  line-height: 1.563rem;
  color: #343434;
}
@media (min-width: 768px) {
  p {
    font-size: 1.375rem;
    line-height: 1.875rem;
  }
}
@media (min-width: 1280px), (min-width: 1400px) {
  p {
    font-size: 2.5rem;
    line-height: 3.438rem;
  }
}

.primary-btn {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.563rem;
  color: #0022FF;
  border: 1px solid #0022FF;
  background-color: #0022FF;
  border-radius: 1000px;
  padding: 10px 20px;
  text-decoration: none;
  -webkit-transition: background-color 0.3 ease, color 0.3 ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3 ease, color 0.3 ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3 ease, color 0.3 ease;
  transition: transform 0.3s ease, background-color 0.3 ease, color 0.3 ease, -webkit-transform 0.3s ease;
  -webkit-transition: background-color 0.3 ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3 ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3 ease;
  transition: transform 0.3s ease, background-color 0.3 ease, -webkit-transform 0.3s ease;
  color: #fff;
}
.primary-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #fff;
  color: #0022FF;
}

.secondary-btn {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.563rem;
  color: #0022FF;
  border: 1px solid #0022FF;
  background-color: #0022FF;
  border-radius: 1000px;
  padding: 10px 20px;
  text-decoration: none;
  -webkit-transition: background-color 0.3 ease, color 0.3 ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3 ease, color 0.3 ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3 ease, color 0.3 ease;
  transition: transform 0.3s ease, background-color 0.3 ease, color 0.3 ease, -webkit-transform 0.3s ease;
  -webkit-transition: background-color 0.3 ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3 ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3 ease;
  transition: transform 0.3s ease, background-color 0.3 ease, -webkit-transform 0.3s ease;
  background-color: #fff;
}
.secondary-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #0022FF;
  color: #fff;
}

.tertiary-btn {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.563rem;
  color: #0022FF;
  border: 1px solid #0022FF;
  background-color: #0022FF;
  border-radius: 1000px;
  padding: 10px 20px;
  text-decoration: none;
  -webkit-transition: background-color 0.3 ease, color 0.3 ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3 ease, color 0.3 ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3 ease, color 0.3 ease;
  transition: transform 0.3s ease, background-color 0.3 ease, color 0.3 ease, -webkit-transform 0.3s ease;
  background-color: #fff;
  color: #343434;
  border: 1px solid #343434;
}
.tertiary-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #343434;
  color: #fff;
}

.quaternary-btn {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.563rem;
  color: #0022FF;
  border: 1px solid #0022FF;
  background-color: #0022FF;
  border-radius: 1000px;
  padding: 10px 20px;
  text-decoration: none;
  -webkit-transition: background-color 0.3 ease, color 0.3 ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3 ease, color 0.3 ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3 ease, color 0.3 ease;
  transition: transform 0.3s ease, background-color 0.3 ease, color 0.3 ease, -webkit-transform 0.3s ease;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.quaternary-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #fff;
  color: #343434;
}

h1,
h2,
h3,
h4,
p,
img,
figure {
  margin: 0;
}

.hero-content,
.our-services,
.our-philosophy {
  padding: 110px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 41px;
}
@media (min-width: 1280px), (min-width: 1400px) {
  .hero-content,
  .our-services,
  .our-philosophy {
    padding: 160px 152px;
  }
}

.content {
  max-width: 350px;
}
@media (min-width: 768px), (min-width: 1280px), (min-width: 1400px) {
  .content {
    max-width: 820px;
  }
}

.services-list {
  display: -ms-grid;
  display: grid;
  gap: 50px;
}
@media (min-width: 768px), (min-width: 1280px), (min-width: 1400px) {
  .services-list {
    -ms-grid-columns: 1fr 80px 1fr 80px 1fr 80px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.fraction {
  padding: 40px 30px;
  border-radius: 20px 20px 0px 0px;
}
@media (min-width: 768px) {
  .fraction {
    padding: 60px 50px;
  }
}
@media (min-width: 1280px) {
  .fraction {
    padding: 80px 152px;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 10px;
}

.card-visual {
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.1);
}

.card-logo {
  max-width: 40px;
  height: auto;
}
@media (min-width: 768px) {
  .card-logo {
    max-width: 50px;
    height: auto;
  }
}
@media (min-width: 1280px) {
  .card-logo {
    max-width: 80px;
    height: auto;
  }
}

.card-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-chevron {
  width: 30px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .card-chevron {
    width: 40px;
    height: auto;
  }
}
@media (min-width: 1280px) {
  .card-chevron {
    width: 50px;
    height: auto;
  }
}

.chatgpt {
  background-color: #DCF0FF;
}

.wise {
  background-color: #CAF6AD;
}

.fbaul {
  background-color: #ECE7FB;
}

.projects {
  background-color: #EEEEEE;
  border-radius: 20px 20px 0px 0px;
}

.projects-content {
  padding: 130px 50px;
}
@media (min-width: 768px) {
  .projects-content {
    padding: 130px 50px 130px 50px;
  }
}
@media (min-width: 1280px), (min-width: 1400px) {
  .projects-content {
    padding: 173px 152px;
  }
}

.company {
  background-color: #343434;
}

.dynamic-photo {
  width: 100vw;
  height: auto;
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  padding: 40px 0px 40px 0px;
}
@media (min-width: 768px), (min-width: 1280px) {
  .bio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 80px;
  }
}

.bio-visual {
  max-width: 125px;
  height: auto;
  border-radius: 20px;
}

.bio-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
@media (min-width: 768px), (min-width: 1280px) {
  .bio-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 80px;
  }
}

.about {
  color: #fff;
  padding: 0px 30px;
  text-align: center;
}
@media (min-width: 768px), (min-width: 1280px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    gap: 80px;
  }
}

body {
  min-width: 320px;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}