.social-media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  padding: 24px;
}

h1 {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-size: 2.563rem;
  line-height: 3.5rem;
  color: #343434;
}
@media (min-width: 768px), (min-width: 1280px), (min-width: 1400px) {
  h1 {
    font-size: 4.438rem;
    line-height: 6.063rem;
  }
}

h2 {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-size: 1.375rem;
  line-height: 1.875rem;
  color: #343434;
}
@media (min-width: 768px), (min-width: 1280px), (min-width: 1400px) {
  h2 {
    font-size: 2.5rem;
    line-height: 3.438rem;
  }
}

p {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  line-height: 1.563rem;
  color: #343434;
}
@media (min-width: 768px) {
  p {
    font-size: 1.375rem;
    line-height: 1.875rem;
  }
}
@media (min-width: 1280px), (min-width: 1400px) {
  p {
    font-size: 2.5rem;
    line-height: 3.438rem;
  }
}

.secondary-btn, .primary-btn {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.563rem;
  color: #0022FF;
  border: 1px solid #0022FF;
  border-radius: 1000px;
  background-color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  -webkit-transition: background-color 0.3 ease, color 0.3 ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3 ease, color 0.3 ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3 ease, color 0.3 ease;
  transition: transform 0.3s ease, background-color 0.3 ease, color 0.3 ease, -webkit-transform 0.3s ease;
  -webkit-transition: background-color 0.3 ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3 ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3 ease;
  transition: transform 0.3s ease, background-color 0.3 ease, -webkit-transform 0.3s ease;
}
.secondary-btn:hover, .primary-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #0022FF;
  color: #fff;
}

.tertiary-btn {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.563rem;
  color: #0022FF;
  border: 1px solid #0022FF;
  border-radius: 1000px;
  background-color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  -webkit-transition: background-color 0.3 ease, color 0.3 ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3 ease, color 0.3 ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3 ease, color 0.3 ease;
  transition: transform 0.3s ease, background-color 0.3 ease, color 0.3 ease, -webkit-transform 0.3s ease;
  background-color: #fff;
  color: #343434;
  border: 1px solid #343434;
  -webkit-transition: background-color 0.3 ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3 ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3 ease;
  transition: transform 0.3s ease, background-color 0.3 ease, -webkit-transform 0.3s ease;
}
.tertiary-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #343434;
  color: #fff;
}

.quaternary-btn {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.563rem;
  color: #0022FF;
  border: 1px solid #0022FF;
  border-radius: 1000px;
  background-color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  -webkit-transition: background-color 0.3 ease, color 0.3 ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3 ease, color 0.3 ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3 ease, color 0.3 ease;
  transition: transform 0.3s ease, background-color 0.3 ease, color 0.3 ease, -webkit-transform 0.3s ease;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  -webkit-transition: background-color 0.3 ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3 ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3 ease;
  transition: transform 0.3s ease, background-color 0.3 ease, -webkit-transform 0.3s ease;
}
.quaternary-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #fff;
  color: #343434;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

img, figure {
  margin: 0;
}

.content {
  padding: 30px 30px 0px 30px;
}
@media (min-width: 768px) {
  .content {
    padding: 30px 50px;
  }
}
@media (min-width: 1280px) {
  .content {
    padding: 30px 152px;
  }
}

.fraction {
  padding: 40px 30px;
  border-radius: 20px 20px 0px 0px;
}
@media (min-width: 768px) {
  .fraction {
    padding: 60px 50px;
  }
}
@media (min-width: 1280px) {
  .fraction {
    padding: 80px 152px;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 10px;
}

.card-visual {
  width: 100%;
  border-radius: 20px;
}

.card-logo {
  max-width: 40px;
  height: auto;
}
@media (min-width: 768px) {
  .card-logo {
    max-width: 50px;
    height: auto;
  }
}
@media (min-width: 1280px) {
  .card-logo {
    max-width: 80px;
    height: auto;
  }
}

.card-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-chevron {
  width: 30px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .card-chevron {
    width: 40px;
    height: auto;
  }
}
@media (min-width: 1280px) {
  .card-chevron {
    width: 50px;
    height: auto;
  }
}

.chatgpt {
  background-color: #DCF0FF;
}

.wise {
  background-color: #CAF6AD;
}

.fbaul {
  background-color: #ECE7FB;
}

.projects {
  background-color: #EEEEEE;
  border-radius: 20px 20px 0px 0px;
}

.bio {
  background-color: #343434;
}

.maria .constanca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 80px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.maria-content .constanca-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
}

.about {
  color: #fff;
}

body {
  min-width: 320px;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}