header {
  background-color: orange;
  width: 300px;
}
@media (min-width: 600px) {
  header {
    width: 600px;
  }
}

header nav {
  background-color: pink;
}

button {
  font-size: 40px;
  border: 1px solid black;
  border-radius: 100px;
  padding: 2px 20px;
}

footer {
  background-color: rgb(45, 206, 104);
}

body {
  background-color: yellow;
}